.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    overflow: scroll !important;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

}




/*Intro's elements*/

.body-intro{
    color: #171616 !important;
    background-color: #fff !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: block;
    text-align: left;
    opacity: 0.9 !important;
    overflow: scroll !important;
    /*margin-top: 2.5em !important;*/
}

.body-intro h1{
    line-height: 1.2em;
    font-size: 4em;
}

.body-intro p{
    margin: 0 !important;
    padding: 0!important;
    /*padding-right: 45px !important;*/
    font-size: 1.25em;
    line-height: 1.75em;
}

.container{
    padding-bottom: 15px !important;
}

#startBtn{
    font-size: 1.25em !important;
    /*line-height: 1.75em !important;*/
    color: #fff !important;
    background-color: #171616 !important;
    transition: all .35s ease;
}


#startBtn:hover{
    color: #171616 !important;
    background-color: #eee !important;
}


.intro-text-block{
    max-width: 750px !important;
}

.no-padding {
    padding: 0 !important;
}

.body-intro {
    padding-left: 4.5em !important;
}

#graph, svg{
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;;
  top: 0;
  left: 0;
  display: inline;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer;
}

.info-link {
  color : #56bbeb;
}

svg text {
  font-family: 'Open Sans', sans-serif, 'FontAwesome';
  font-weight: 300;
  font-size: 14px;
  color: #1A1919;
  text-anchor: middle;
  cursor:pointer;
  stroke: white;
  text-shadow: -1px 1px 2px white;
  transition: all .35s ease;
}


svg line, svg path, svg text {
  stroke-opacity: 0.25;
  stroke-width: 2px !important;
  transition: all .35s ease;
}


svg line { stroke-opacity: 0.5; stroke-width: 2px !important; }

svg line.link-personal { stroke: #4D4D4C; }

svg line.link-influence {
  stroke: #B4B5B4;
  stroke-linecap : round;
  stroke-dasharray : 5px, 10px;
}


svg line.link-related { stroke: #C9CFD4;  }

svg line.line-faded{ opacity: 0.06; }

svg .link-faded path{ stroke-opacity: .025; }

svg .link-faded line{ stroke-opacity: .025; }

svg path.link-personal{ fill: #4D4D4C; opacity: 0.65; }

svg path.link-influence{ fill: #B4B5B4; opacity: 0.65; }

svg path.link-related{ fill: #C9CFD4; opacity: 0.65; }

svg .link.link-faded path { opacity: .025; }

svg path{ cursor: pointer; }

svg line.path-faded{ opacity: 0.45; }

svg path.node-faded{ opacity: 0.35 !important; }

svg path.node-person{ fill: #f39c12; }
svg path.node-person-faded{ fill: #FBE0B7; }

svg path.node-publication{ fill: #bdc3c7; }
svg path.node-publication-faded{ fill: #EAECED; }

svg path.node-other{ fill: #95a5a6; }
svg path.node-other-faded{ fill: #DEE3E3; }

svg text.text-faded{ opacity: .1 !important; }
svg text.text-link{ text-decoration: underline; text-shadow: none;}

.zoom-control {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

.zoom-control > ul{
  margin-bottom: 0 !important;
}

.zoom-control > li {
  margin-top: 5px !important;
}

.zoom-btn {
  width: 35px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1px 1px 3px .3px #ccc;
}

.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a{
  color: #171616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#menu{
    overflow: scroll !important;
}

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
  color: #171616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
  color: #171616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1;
}

@media (max-width: 1279px) {
  .navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
    display: none !important;
  }
}

.navmenu, .navbar-offcanvas {
    width: 340px !important;
}

#showBtn{
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

img.bullet{
  width: 20px;
  margin-left: -2px;
  margin-top: -4px;
  display: inline;
}

span.filter{ margin-left: 0; }

span.designers{ color:#00A3D9; }

span.designers-theorists{ color:#00984B; }

span.computers-pioneer{ color:#E15D32; }

span.counter-culture{ color:#993366; }

span.symbol { font-size: 20px; }

p{
  color: #171616;
  margin-left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.legend-line { margin-left: 15px; }


.navmenu { padding-top: 50px; }

.btn-section { padding-top: 0 !important; margin-top: 15px !important; padding-right: 15px !important; }

.navbar {
  color: #171616 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  text-align: center;
}
.navbar-brand { display: inline-block; float: none; cursor: default !important; }

.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container { max-width: 100%; }

ul.nav.navmenu-nav{ margin-top: 75px; }

@media (min-width: 1px) {
  .navbar-toggle { display: block !important; }
}

@media (min-width: 1280px) {
  body { padding: 0 0 0 300px; }
  .navmenu { padding-top: 0; }
}

.navbar a {
  color: #171616 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  text-align: left;
  margin-left: 55px !important;
}

@media (max-width: 1279px){
  ul.nav.navmenu-nav{ margin-top: 25px; }
}

@media (max-width: 649px){
  a.navbar-brand{ font-size: 16px; line-height: .95; }
}

@media (max-width: 640px){
  a.navbar-brand{ font-size: 14px; line-height: .95; }
}


*:focus{ outline: 0 !important; }

hr { border-top: 1px solid #ccc; }

input{
    width: 300px;
    height: 30px;
    padding-left: 32px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #ccc;
}

.input-btn {
    position: absolute !important;
    margin-left: -30px;
    cursor: pointer;
    color: white;

    padding: 8px 8px;
    border-radius: 0 4px 4px 0;
    background-color: #ccc;
    transition: all .35s ease;
}

.input-icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    color: #ccc;
    /*z-index: 10;*/
    /*margin-top: auto;*/
}

.input-btn:hover{
    /*color: #ccc;*/
    background-color: #171616;
}

.btn{
    transition: all .35s ease !important;

    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

.btn-reset {
    border: 0 !important;
    background-color: #f8f8f8 !important;
    border-color: #f8f8f8 !important;
    color: #333 !important;
    opacity: .5 !important;
}

.btn-reset:hover {
    opacity: 1 !important;
}

/*.modal-body{*/
#modalContent{
  min-height: 350px;
  height: 600px;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 70% !important;
        /* either % (e.g. 60%) or px (400px) */
    }
}

.modal-menu{
    list-style: none;
    color: #171616 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.modal-menu a{
    color: #171616 !important;
}

.modal-menu a:hover, .modal-menu a:visited, .modal-menu a:active{

    text-decoration: none;
}

.modal-menu li {
    padding: 10px 10px;
    cursor: pointer;
    transition: all .35s ease;
}

.modal-menu li:hover, .modal-item:hover, .filter-item:hover{
    background-color: rgba(204,204,204,0.14) !important;
}


.modal-menu img{
    width: 20px;
    margin-left: -2px !important;
}

.active{
    background-color: rgba(204,204,204,0.35) !important;
}

.modal-see-all > h5 {
    text-align: center !important;
    vertical-align: middle;
    line-height: 20px !important;
}

.modal-item {
    padding: 10px 10px 10px 10px;
    height: 55px;
    /*line-height: 50px;*/
    vertical-align: middle;
    cursor: pointer;
    transition: all .35s ease;
}

form{
    z-index: 10000 !important;
}

.form-row{
    margin-bottom: 10px !important;
}

/*Tour*/
.popover, .popover-content{
    background-color: #171616 !important;
    color: #fff !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    font-size: 16px !important;
}

.arrow {
    display: none !important;
}



.footnote{
    padding-top: 10px;
    /*padding-bottom: 10px;*/
}

.popover{
    max-width: 400px !important;
    font-size: 18px !important;
    font-weight: 300 !important;

}

.disabled{
    display: none !important;
}

.popover {
    padding-bottom: 9px !important;
}

.popover-content{
    padding-bottom: 0 !important;
}

.help-btn{
    cursor: pointer !important;
    transition: all .35s ease;
}

.help-btn:hover{
    text-decoration: underline !important;
}

body{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


h3{
  line-height: 26px;
}


h5{
  font-weight: 300;
  margin:0;
  margin-top: 5px;
}

h4,h6 {
  font-weight: 300 !important;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}

 .info-link {
  color : #56bbeb;
}


hr{
  height: 0.75px;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}

.info {
  z-index: 100;
  margin-left: 15px;
  margin-top: 15px;
  position: absolute;
}

.d3-tip {
  font-weight: 300 !important;
  font-size: 1em !important;
  line-height: 1.5em !important;
  padding: 14px;
  background: rgba(23, 22, 22, 1);
  color: #fff;
  border-radius: 6px;
  max-width: 250px !important;
  /*width: 350px !important;*/
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  font-size: 12px !important;
  font-weight: 300;
  pointer-events: none;
}

.d3-tip-node {
  opacity: 0;
  font-weight: 300 !important;
  padding: 14px;
  background: rgba(23, 22, 22, 1);
  color: #fff;
  border-radius: 6px;
  /*max-width: 250px !important;*/
  font-size: 12px !important;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
  -webkit-transition: opacity 300ms ease-in-out;
}

.d3-tip-node.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  font-size: 16px !important;
  font-weight: 300 !important;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
}

h4{
    font-weight: 300 !important;
    font-size: 1.75em !important;
    line-height: 1.5em !important;
    font-weight: bold !important;
}

h6{
    font-weight: 300 !important;
    font-size: 1.25em !important;
    line-height: 1.5em !important;
}

img.img-node{
  height: 200px !important;
  width: 200px !important;
  padding-right: 10px;
  margin: 0 auto;
  display: inline-block !important;
  background-color: #171616;
  top: 9px;
  object-fit: cover;
}

.node-info-box{
    display: inline !important;
    width: 100% !important;
    height: 100% !important;
    float: left !important;
}

.box-img{
    display : inline !important;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    vertical-align: top !important;
}

.box-info{
    display : inline-block !important;
    max-width: 250px !important;
    top: 0 !important;
    vertical-align: top !important;
}

/*Handling different screen sizes*/

@media screen and (max-width: 768px) {

    h6, h4{
        font-size: 1.2em !important;
    }

    img.img-node{
      max-width: 200px !important;
      min-width: 200px !important;

    }

    .node-info-box{
        display: block !important;
    }

    .box-img{
        display : block !important;
    }

    .box-info{
        display : block !important;
        max-width: 200px !important;

    }

}
