svg {
  /* Force 3D to enable hardware acceleration */
  transform: translateZ(0);

  /* Fixes flickering related to 3D rendering */
  backface-visibility: hidden;
  perspective: 1000;
}

.node, .link {
  transition-duration: 350ms;
  transition-timing-function: ease-in-out;
}

.node {
  cursor: pointer;
  transition-property: fill;
  font-weight: 300;
  font-size: 14px;
}

.node.active {
  fill: #000;
}

.node.inactive {
  cursor: default;
  fill: #F3F3F3;
}

.node.selected {
  cursor: default;
  fill: #00A3D9;
}

.link {
  fill: none;
  stroke: black;
  stroke-opacity: 0.25;
  stroke-width: 2px;
  transition-property: stroke;
}

.link.active {
  stroke: #000;
}

.link.inactive {
  stroke: #F9F9F9;
}

#force .link path {
  fill: #ccc;
}

#force .node-name {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'FontAwesome';
}
