/*#graph, svg{
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;;
  top: 0;
  left: 0;
  display: inline;
}*/

.node {
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer;
}

.info-link {
  color : #56bbeb;
}

svg text {
  font-family: 'Open Sans', sans-serif, 'FontAwesome';
  font-weight: 300;
  font-size: 14px;
  color: #1A1919;
  text-anchor: middle;
  cursor:pointer;
  stroke: white;
  text-shadow: -1px 1px 2px white;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}


svg line, svg path, svg text {
  stroke-opacity: 0.25;
  stroke-width: 2px !important;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}


svg line { stroke-opacity: 0.5; stroke-width: 2px !important; }

svg line.link-personal { stroke: #4D4D4C; }

svg line.link-influence {
  stroke: #B4B5B4;
  stroke-linecap : round;
  stroke-dasharray : 5px, 10px;
}


svg line.link-related { stroke: #C9CFD4;  }

svg line.line-faded{ opacity: 0.06; }

svg .link-faded path{ stroke-opacity: .025; }

svg .link-faded line{ stroke-opacity: .025; }

svg path.link-personal{ fill: #4D4D4C; opacity: 0.65; }

svg path.link-influence{ fill: #B4B5B4; opacity: 0.65; }

svg path.link-related{ fill: #C9CFD4; opacity: 0.65; }

svg .link.link-faded path { opacity: .025; }

svg path{ cursor: pointer; }

svg line.path-faded{ opacity: 0.45; }

svg path.node-faded{ opacity: 0.35 !important; }

svg path.node-person{ fill: #f39c12; }
svg path.node-person-faded{ fill: #FBE0B7; }

svg path.node-publication{ fill: #bdc3c7; }
svg path.node-publication-faded{ fill: #EAECED; }

svg path.node-other{ fill: #95a5a6; }
svg path.node-other-faded{ fill: #DEE3E3; }

svg text.text-faded{ opacity: .1 !important; }
svg text.text-link{ text-decoration: underline; text-shadow: none;}
