.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 70px;
    /*padding-bottom: 20px;*/
    overflow: scroll !important;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.navbar .navbar-brand-active,
.navbar .navbar-brand-active:hover {
  background-color: #e7e7e7;
  color: #555;
}

.container-narrow > hr {
    margin: 30px 0;
}

h1{
    font-size: 41.12px;
}

p{
    font-size: 18px !important;
    line-height: 1.5em;
    letter-spacing: .05rem;
}

.menu-info{
    font-size: 14px !important;
    line-height: 1.5em;
    letter-spacing: .05rem;
    font-weight: bold !important;
    color: #171616 !important;
}

a{
    text-decoration: none !important;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

}




/*Intro's elements*/

.body-intro{
    color: #171616 !important;
    background-color: #fff !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: block;
    text-align: left;
    opacity: 0.9 !important;
    overflow: scroll !important;
    /*margin-top: 2.5em !important;*/
}

.body-intro h1{
    font-size: 41.12px;
}

.body-intro p{
    margin: 0 !important;
    padding: 0!important;
    font-size: 18px !important;
    line-height: 1.5em;
    letter-spacing: .05rem;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 760px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 730px;
    }

    h1{
        font-size: 48px;
    }

    p{
        font-size: 20px !important;
        line-height: 1.5em;
    }

}


.container{
    padding-bottom: 15px !important;
}

#startBtn{
    font-size: 1.25em !important;
    /*line-height: 1.75em !important;*/
    color: #fff !important;
    background-color: #171616 !important;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}


#startBtn:hover{
    color: #171616 !important;
    background-color: #eee !important;
}


.intro-text-block{
    max-width: 750px !important;
}

.no-padding {
    padding: 0 !important;
}

.body-intro {
    padding-left: 4.5em !important;
}

.body-content {
  position: relative;
}

.body-content:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.body-content svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
