.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

}




/*Intro's elements*/

.body-intro{
    color: #171616 !important;
    background-color: #fff !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: block;
    text-align: left;
    opacity: 0.9 !important;
    /*margin-top: 2.5em !important;*/
}

.body-intro h1{
    line-height: 1.2em;
    font-size: 4em;
}

.body-intro p{
    margin: 0 !important;
    padding: 0!important;
    /*padding-right: 45px !important;*/
    font-size: 1.25em;
    line-height: 1.75em;
}

#startBtn{
    font-size: 1.25em !important;
    /*line-height: 1.75em !important;*/
    color: #fff !important;
    background-color: #171616 !important;

    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}


#startBtn:hover{
    color: #171616 !important;
    background-color: #eee !important;
}


.intro-text-block{
    max-width: 750px !important;
}

.no-padding {
    padding: 0 !important;
}

.body-intro {
    padding-left: 4.5em !important;
}
