.info {
  z-index: 100;
  margin-left: 15px;
  margin-top: 15px;
  position: absolute;
}

.d3-tip {
  font-weight: 300 !important;
  font-size: 1em !important;
  line-height: 1.5em !important;
  padding: 14px;
  background: rgba(23, 22, 22, 1);
  color: #fff;
  border-radius: 6px;
  max-width: 250px !important;
  /*width: 350px !important;*/
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  font-size: 12px !important;
  font-weight: 300;
  pointer-events: none;
}

.d3-tip-node {
  opacity: 0;
  font-weight: 300 !important;
  padding: 14px;
  background: rgba(23, 22, 22, 1);
  color: #fff;
  border-radius: 6px;
  max-width: 250px !important;
  font-size: 12px !important;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
  -webkit-transition: opacity 300ms ease-in-out;
}

.d3-tip-node.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  font-size: 16px !important;
  font-weight: 300 !important;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
}

h4{
    font-weight: 300 !important;
    font-size: 1.25em !important;
    font-weight: bold !important;
}

h6{
    font-weight: 300 !important;
    font-size: 1.25em !important;
    line-height: 1.5em !important;
}

img.img-node{
  max-width: 230px !important;
  min-width: 220px !important;
  /*width: 380px !important;*/
  padding-right: 10px;
  margin: 0 auto;
  display: inline-block !important;
  background-color: #171616;
}
