body{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
}

html{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.info {
  z-index: 100;
  margin-left: 15px;
  margin-top: 15px;
  position: absolute;
}

h3{
  line-height: 26px;
}


h5{
  font-weight: 300;
  margin:0;
  margin-top: 5px;
}

#graph{
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: inline;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer;
}

.d3-tip {
  opacity: 0;
  line-height: 1.3;
  font-size: 12px;
  font-weight: 300;
  padding: 6px;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  border-radius: 2px;
  max-width: 150px;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
}

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {

  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  font-size: 10px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  pointer-events: none;

}*/

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  font-size: 10px;
  font-weight: 300;
  pointer-events: none;
}

/*.node ~ text {*/
svg text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1A1919;
  /*pointer-events: none;*/
  text-anchor: middle;
  cursor:pointer;
  stroke: white;
  text-shadow: -1px 1px 2px white;
  pointer-events: none;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}


svg line, svg path, svg text {
  stroke-opacity: 0.25;
  stroke-width: 2px !important;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}


svg line {
  stroke-opacity: 0.5;
  stroke-width: 2px !important;
}

svg line.link-personal {
  stroke: #4D4D4C;
}

svg line.link-influence {
  stroke: #B4B5B4;
  stroke-linecap : round;
  stroke-dasharray : 5px, 10px;
}


svg line.link-related {
  stroke: #C9CFD4; /*#f1f1f1;*/
  /*stroke-linecap : round;
  stroke-dasharray : 5px, 10px;*/
}

/*svg line.link-faded {
  stroke-opacity: .025;
}*/

svg .link-faded path{
  stroke-opacity: .025;
}

svg .link-faded line{
  stroke-opacity: .025;
}

svg path.link-personal{
  fill: #4D4D4C;
  opacity: 0.65;
}

svg path.link-influence{
  fill: #B4B5B4;
  opacity: 0.65;
}

svg path.link-related{
  fill: #C9CFD4;
  opacity: 0.65;
}

/*svg line.link-personal*/
svg .link.link-faded path {
  opacity: .025;
}

svg path{
  cursor: pointer;
}

svg path.node-faded{
  opacity: 0.45;
}

svg path.node-person{ fill: #f39c12; }
svg path.node-person-faded{ fill: #FBE0B7; }

svg path.node-publication{ fill: #bdc3c7; }
svg path.node-publication-faded{ fill: #EAECED; }

svg path.node-other{ fill: #95a5a6; }
svg path.node-other-faded{ fill: #DEE3E3; }

svg text.text-faded{ opacity: .1; }


/*Navbar*/

/*.navbar-header {
  float: none;
}
.navbar-left,.navbar-right {
  float: none !important;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin-top: 7.5px;
}
.navbar-nav>li {
  float: none;
  margin-top: 5px;
  margin-bottom: 5px;*/
  /*width: 250px;*/
/*}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;

}
.collapse.in{
  display:block !important;
}*/

.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a{
  color: #171616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
  color: #171616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
  color: #171616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1;
}

@media (max-width: 1279px) {
  .navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
    display: none !important;
  }
}

#showBtn{
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

img.bullet{
  width: 20px;
  margin-left: -2px;
  display: inline;
}

span.filter{
  margin-left: 0;
}

span.designers{
  color:#00A3D9;
}

span.designers-theorists{
  color:#00984B;
}

span.computers-pioneer{
  color:#E15D32;
}

span.counter-culture{
  color:#993366;
}
span.symbol {
  font-size: 20px;
}

p{
  color: #171616;
  margin-left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.legend-line {
  margin-left: 15px;
}

html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  padding-top: 50px;
}

.navbar {
  color: #171616 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

ul.nav.navmenu-nav{
  margin-top: 75px;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 1280px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    /*display: none !important; /* IE8 fix */*/
  }
}

/*
ul.nav.navmenu-nav{
  padding-right: 15px;
}*/

.navbar a {
  color: #171616 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  text-align: left;
  margin-left: 55px !important;
}

@media (max-width: 1279px){
  ul.nav.navmenu-nav{
    margin-top: 25px;
  }

}

@media (max-width: 649px){
  a.navbar-brand{
    /*padding-top: 5px;*/
    font-size: 16px;
    line-height: .95;
  }
}

@media (max-width: 640px){
  a.navbar-brand{
    /*padding-top: 5px;*/
    font-size: 14px;
    line-height: .95;
  }
}
