.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a{
  color: #171616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*#e7e7e7*/

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
  color: #171616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
  color: #171616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1;
}

@media (max-width: 1279px) {
  .navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand{
    display: none !important;
  }
}

.navmenu, .navbar-offcanvas {
    width: 340px !important;
}

#showBtn{
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

img.bullet{
  width: 20px;
  margin-left: -2px;
  margin-top: -4px;
  display: inline;
}

span.filter{ margin-left: 0; }

span.designers{ color:#00A3D9; }

span.designers-theorists{ color:#00984B; }

span.computers-pioneer{ color:#E15D32; }

span.counter-culture{ color:#993366; }

span.symbol { font-size: 20px; }

p{
  color: #171616;
  margin-left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.legend-line { margin-left: 15px; }

html, body { height: 100%; }

body { padding: 50px 0 0 0; }

.navmenu { padding-top: 50px; }

.btn-section { padding-top: 0 !important; margin-top: 15px !important; padding-right: 15px !important; }

.navbar {
  color: #171616 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  text-align: center;
}
.navbar-brand { display: inline-block; float: none; cursor: default !important; }

.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container { max-width: 100%; }

ul.nav.navmenu-nav{ margin-top: 75px; }

@media (min-width: 1px) {
  .navbar-toggle { display: block !important; }
}

@media (min-width: 1280px) {
  body { padding: 0 0 0 300px; }
  .navmenu { padding-top: 0; }
}

.navbar a {
  color: #171616 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  text-align: left;
  margin-left: 55px !important;
}

@media (max-width: 1279px){
  ul.nav.navmenu-nav{ margin-top: 25px; }
}

@media (max-width: 649px){
  a.navbar-brand{ font-size: 16px; line-height: .95; }
}

@media (max-width: 640px){
  a.navbar-brand{ font-size: 14px; line-height: .95; }
}

.form-row{
    margin-bottom: 10px !important;
    display: inline-block;
}

*:focus{ outline: 0 !important; }

hr { border-top: 1px solid #ccc; }

input{
    width: 300px;
    height: 30px;
    padding-left: 32px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #ccc;
}

.input-btn {
    position: absolute !important;
    margin-left: -30px;
    cursor: pointer;
    color: white;

    padding: 8px 8px;
    border-radius: 0 4px 4px 0;
    background-color: #ccc;
    transition: all .35s ease;
}

.input-icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    color: #ccc;
    /*z-index: 10;*/
    /*margin-top: auto;*/
}

.input-btn:hover{
    /*color: #ccc;*/
    background-color: #171616;
}

.btn{
    transition: all .35s ease !important;

    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

.btn-reset {
    border: 0 !important;
    background-color: #f8f8f8 !important;
    border-color: #f8f8f8 !important;
    color: #333 !important;
    opacity: .5 !important;
}

.btn-reset:hover {
    opacity: 1 !important;
}

/*.modal-body{*/
#modalContent{
  min-height: 350px;
  height: 600px;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 70% !important;
        /* either % (e.g. 60%) or px (400px) */
    }
}

.modal-menu{
    list-style: none;
    color: #171616 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.modal-menu a{
    color: #171616 !important;
}

.modal-menu a:hover, .modal-menu a:visited, .modal-menu a:active{

    text-decoration: none;
}

.modal-menu li {
    padding: 10px 10px;
    cursor: pointer;
    transition: all .35s ease;
}

.modal-menu li:hover, .modal-item:hover, .filter-item:hover{
    background-color: rgba(204,204,204,0.14) !important;
}


.modal-menu img{
    width: 20px;
    margin-left: -2px !important;
}

.active{
    background-color: rgba(204,204,204,0.35) !important;
}

.modal-see-all > h5 {
    text-align: center !important;
    vertical-align: middle;
    line-height: 20px !important;
}

.modal-item {
    padding: 10px 10px 10px 10px;
    height: 55px;
    /*line-height: 50px;*/
    vertical-align: middle;
    cursor: pointer;
    transition: all .35s ease;
}

form{
    z-index: 10000 !important;
}

/*Tour*/
.popover, .popover-content{
    background-color: #171616 !important;
    color: #fff !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    font-size: 16px !important;
}

.arrow {
    display: none !important;
}



.footnote{
    padding-top: 10px;
    /*padding-bottom: 10px;*/
}

.popover{
    max-width: 400px !important;
    font-size: 18px !important;
    font-weight: 300 !important;

}

.disabled{
    display: none !important;
}

.popover {
    padding-bottom: 9px !important;
}

.popover-content{
    padding-bottom: 0 !important;
}

.help-btn{
    cursor: pointer !important;
    transition: all .35s ease;
}

.help-btn:hover{
    text-decoration: underline !important;
}
